.bg-main {
    background-color: #2d3748;
}
.collapsing {
    transition-duration: 0.15s !important;
}
.btn-unigate {
    background-color: #0b2136;
    border-radius: 20%/50%;
}

.btn-nav.btn-active {
    background-color: #2d3748 !important;
    color: #ffffff !important;
}

.btn-nav.btn-active svg {
    filter: brightness(500%);
}

.btn-nav-sub.btn-active {
    background-color: #4f6181 !important;
    color: #ffffff !important;
}

.btn-nav,
.btn-nav-sub {
    text-align: left;
    white-space: nowrap;
    margin-bottom: 0.2rem;
}

.btn-nav-sub {
    width: 85%;
    padding-left: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.2rem;
    margin-left: 15%;
    box-sizing: border-box;
}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btn-nav .nav-text {
    margin-right: auto;
    padding: 0 10px;
    overflow: hidden;
}

.btn-nav svg:first-child {
    overflow: visible;
}

.hide {
    display: none;
    padding: 0px !important;
    width: 0px !important;
}

.btn-nav .nav-dropdown {
    margin-left: auto;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.nav-dropdown-open {
    transform: rotate(-90deg);
}

#main-navigation-menu {
    overflow: hidden;
    list-style-type: none;
}

#btn-nav-toggle {
    width: initial;
}
#filter-option-dialog {
    width: 70%;
    border-radius: 10px;
    border: none;
}

#add-user-dialog {
    width: 30%;
    min-width: 500px;
    border-radius: 10px;
    border: none;
    overflow-x: hidden;
}

#filter-option-dialog::backdrop,
#add-user-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.select2-container--default .select2-selection--multiple {
    display: block;
    min-width: 40px;
    height: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0.375rem;
    padding-right: 50px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    overflow-y: scroll;
}

/* width */
.select2-container--default .select2-selection--multiple::-webkit-scrollbar,
.select2-results__options::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.select2-container--default .select2-selection--multiple::-webkit-scrollbar-track,
.select2-results__options::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px white;
    border-radius: 5px;
}

/* Handle */
.select2-container--default .select2-selection--multiple::-webkit-scrollbar-thumb,
.select2-results__options::-webkit-scrollbar-thumb {
    background: #4f6181;
    border-radius: 2px;
}

span.selection {
    display: block;
    height: 40px;
}

.form-check {
    display: flex;
    align-items: baseline;
}

.checkbox-lg .form-check-input {
    top: .8rem;
    scale: 1.4;
    margin-right: 0.7rem;
}

.checkbox-lg .form-check-label {
    padding-top: 13px;
}
#user-information-table{
    border: 100px;
}